main{

	text-align: center;
}
input[value] {
    background-color: #395571; /* Green */
    border: 4px solid white;
    color: #C5CCD5;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
}
input[name=ans] {
    background-color: #071F3C; /* Green */
    border: 1px solid white;
    color: #C5CCD5;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 183px;
    height: 80px;
}

input[name=btneq] {
    background-color: #576F88;
    border: 1px solid white;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 207px;
    height: 50px;
}

input[name=btnplus] {
    background-color: #84A0BD; /* Green */
    border: 4px solid white;
    color: #C5CCD5;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
   }

  input[name=btnmin] {
    background-color: #84A0BD; /* Green */
    border: 4px solid white;
    color: #C5CCD5;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
}
input[name=btnmul] {
    background-color: #84A0BD; /* Green */
    border: 4px solid white;
    color: #C5CCD5;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
    }
    input[name=btndiv] {
    background-color: #84A0BD; /* Green */
    border: 4px solid white;
    color: #C5CCD5;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 0;
}
